// colors
$blue-light: #5B6985;
$blue-primary: #5D76F8;
$blue-secondary: #09204C;
$grey: #F8FBFD;
$black: #000000;
$white: #FFFFFF;
$input: #525D6A;

$pretty--color-default: #5D76F8;

// borders
$border-radius: 4px;

// Shadows
$shadow-primary: rgba(210, 231, 238, 0.6);



