.fsr-toasted {
    .success {
        background-color: #3dba42 !important;
    }

    .info {
        background-color: #5D76F8 !important;
    }

    .action {
        color: #fff !important;
    }
}
